<div class="container">
  <div class="menu">
    {{#link-to 'index'}}<h4>A Piece of the Sky</h4>{{/link-to}}
    <div>{{#link-to 'blogs.index'}}Blogs{{/link-to}}</div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
